.board {
    /* display: grid;
    gap: 0px;
    column-width: 40px;
    width: 890px; */
    align-self: center;
    margin: auto; /* Horizontally centered */
}

.arrow {
    color: royalblue;
    font-size: 2rem;
    margin: 0;
    /* border-width: 0 4px 4px 0; */
    /* display: inline-block; */
    /* padding: 4px; */
}
