.controls {
    text-align: center;
    margin: 1rem;
}

.controls > button {
    color: black;
    background: rgb(96, 129, 228);
    border: none;
    padding: 0.5rem;
    transition: all 0.2s;
    margin: 0 0.3em 0.3em 0;
    font-size: 1rem;
    font-weight: 600;
    text-align:center;
    text-transform: uppercase;
}

.controls > button:hover {
    background: #333;
    color: whitesmoke;
}