.tile {
    height: 40px;
    width: 40px;
    border: solid;
    border-width: 1px;
    margin: -0.5px;

    /* For bonus/penalty text */
    vertical-align: middle;
    display: table-cell;
    text-align: center;
}

.selected {
    background-color: lightcyan;
}

.penalty {
    background-color: orangered;
}

.bonus {
    background-color: green;
}

.end-game {
    background-color: royalblue;
}
