.tile {
    height: 2rem;
    width: 2rem;
    border: solid;
    border-width: 1px;

    background-color: rgb(253, 255, 222);

    /* For bonus/penalty text */
    text-align: center;
}

.tile p {
    margin-top: 0.5rem;
}

.universal {
    position: relative;
}
.universal > :first-child ~ * {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.selected {
    background-color: lightcyan;
}

.penalty {
    background-color: rgba(255, 123, 0, 1);
}
.hasTile.penalty {
    background-color: rgba(255, 123, 0, 0.4);
}

.bonus {
    background-color: rgba(26, 173, 36, 1);
}
.hasTile.bonus {
    background-color: rgba(26, 173, 36, 0.4);
}

.endGame {
    background-color: rgba(113, 139, 219, 1);
}
.hasTile.endGame {
    background-color: rgba(113, 139, 219, 0.4);
}
