.tile {
    height: 40px;
    width: 40px;
    border: solid;
    border-width: 1px;
    margin: -0.5px;

    /* For bonus/penalty text */
    /* vertical-align: middle; */
    /* display: table-cell; */
    text-align: center;
}

.universal {
    display: inline-block;
    position: relative;
}
.universal > :first-child ~ * {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.selected {
    background-color: lightcyan;
}

.penalty {
    background-color: orangered;
}

.bonus {
    background-color: green;
}

.end-game {
    background-color: royalblue;
}
