table.scores {
    padding-top: 1rem;
}

table.scores td {
    min-width: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    text-align: right;
    font-variant-numeric: tabular-nums;
}

.current {
    color: royalblue;
}

.other {
    color: rgb(40, 40, 40)
}
