.shortcutsHelp {
    margin: 2rem;
}
.shortcutsHelp td {
    line-height: 130%;
    padding-right: 0.5rem;
}
/* Right align first column */
.shortcutsHelp tr > td:first-of-type {
    text-align: right;
}

.helpKey {
    background-color: rgb(243,243,243);
    color: rgb(33,33,33);
    margin-left: 2px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 3px;
    border: solid 1px #ccc;
    border-bottom-color: rgb(204, 204, 204);
    border-bottom-color: #bbb;
    box-shadow: inset 0 -1px 0 #bbb;
    font-family: monospace;
    font-size: 11px;
}
