* {
    font-family: Lato, sans-serif;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: -0.05em;
}

button {
    color: black;
    background: rgb(96, 129, 228);
    border: none;
    padding: 0.5rem;
    transition: all 0.2s;
    margin: 0 0.3em 0.3em 0;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

button:hover {
    background: #333;
    color: whitesmoke;
}

button:disabled {
    background: rgb(192, 201, 229)
}

/* Align icons in buttons */
button svg {
    vertical-align: middle;
}

.centerText {
    text-align: center;
}

/* Sticky footer */
html, body, div#app-container {
    height: 100%;
    margin: 0;
}

div#app-container {
    display: flex;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
footer {
    flex-shrink: 0;
}

/* container */
.container {
    width: 90%;
    max-width: 1080px;
    margin: 0 auto;
}

/* footer */
.footer-background {
    background-color: rgb(96, 129, 228);
    height: 4rem;
    margin-top: 5rem;
}
.footer-flex {
    display: flex;
    justify-content: space-between;
}
.footer > div {
    width: 32%;
}
.copyright {
    font-size: small;
    padding-left: 1rem;
}
.logo {
    align-content: center;
    background-color: whitesmoke;
    margin: 0.5rem;
    width: 3rem;
    height: 3rem;
}
.version {
    font-size: small;
    text-align: right;
    padding-right: 1rem;
}

/* tile */
.tile {
    height: 2rem;
    width: 2rem;
    border: solid;
    border-width: 1px;

    background-color: rgb(253, 255, 222);

    /* For bonus/penalty text */
    text-align: center;
}
.tile p {
    margin-top: 0.5rem;
}
.universal {
    position: relative;
}
.universal > :first-child ~ * {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.selected {
    background-color: lightcyan;
}
.penalty {
    background-color: rgba(255, 123, 0, 1);
}
.has-tile.penalty {
    background-color: rgba(255, 123, 0, 0.4);
}
.bonus {
    background-color: rgba(26, 173, 36, 1);
}
.has-tile.bonus {
    background-color: rgba(26, 173, 36, 0.4);
}
.end-game {
    background-color: rgba(96, 129, 228, 1);
}
.has-tile.end-game {
    background-color: rgba(113, 139, 219, 0.4);
}
.hidden-tile {
    background: repeating-linear-gradient(135deg, rgba(40, 40, 40, 0.3), rgba(40, 40, 40, 0.3) 0.4rem, rgba(0, 0, 0, 0) 0.4rem, rgba(0, 0, 0, 0) 0.5rem),
                repeating-linear-gradient(45deg, rgba(40, 40, 40, 0.3), rgba(40, 40, 40, 0.3) 0.4rem, rgba(0, 0, 0, 0) 0.4rem, rgba(0, 0, 0, 0) 0.5rem);
    /* background-size: calc(0.5rem * 1.414); */
}

/* controls */
.controls {
    text-align: center;
    margin: 1rem;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    position: absolute;
    box-shadow: 0px 2rem 2rem 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    text-decoration: none;
    display: block;
    width: 2rem;
    height: 2rem;
}

/* players */
.players {
    display: grid;
    align-content: center;
}
.players > div {
    margin: auto;
    display: grid;
    gap: 2rem;
}
button.expand-collapse {
    margin-left: auto;
    margin-right: auto;
}
table.scores {
    padding-top: 1.25rem;
}
table.scores.current {
    color: inherit;
    padding-top: 0;
}
table.scores td {
    min-width: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    text-align: right;
    font-variant-numeric: tabular-nums;
}
.current {
    color: royalblue;
}
.other {
    color: rgb(40, 40, 40)
}

/* tile rack */
.alignRight > td {
    text-align: right;
    font-variant-numeric: tabular-nums;
}

/* board */
.board {
    align-self: center;
}
.arrow {
    color: royalblue;
    font-size: 2rem;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    /* Fix vertical centering */
    margin-bottom: 0.5rem;
}
.start {
    color: royalblue;
    text-transform: uppercase;
    font-size: 1.2rem;
}
.outer {
    display: flex;
    align-items: center;
    margin: auto;
}
/* Justify center cuts off board on mobile sizes */
@media screen and (min-width: 768px) {
    .outer {
        justify-content: center;
    }
}

/* modal */
.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    /* Transparent black */
    background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
    background-color: #eeeeee;
    margin: 15% auto;
    padding: 2.5rem;
    border: 1px solid #888;
    width: 75%;
    max-width: 40rem;
}

/* shortcut help */
.shortcuts-help {
    margin: 2rem;
}
.shortcuts-help td {
    line-height: 130%;
    padding-right: 0.5rem;
}
/* Right align first column */
.shortcuts-help tr > td:first-of-type {
    text-align: right;
}
.help-key {
    background-color: rgb(243,243,243);
    color: rgb(33,33,33);
    margin-left: 2px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 3px;
    border: solid 1px #ccc;
    border-bottom-color: rgb(204, 204, 204);
    border-bottom-color: #bbb;
    box-shadow: inset 0 -1px 0 #bbb;
    font-family: monospace;
    font-size: 11px;
}

/* game form */
.cpu-count {
    margin: 1rem;
}
form.game-form label {
    margin: 0.75rem;
}
form.game-form button {
    margin: 0.25rem;
}
